table{
    width:70%;
    background-color: white;
    border: solid #c0c0c0 1px;
    font-family: calibri;
    font-size: 20px
}

th, td {
    border: solid #ededed 1px;
    padding: 20px
}

* {
    margin: 0 auto
}

th{
    background-color: black;
    color: white
}

.poiter{
    cursor: pointer;
}

form{
    text-align: center;
    border: 20px solid;
    font-size: 44px;
}

input{
    font-size: 44px;
    border-radius: 2rem 2rem 2rem 2rem;
}
